<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alternet.Studio.Common" version="7.1.2" targetFramework="net472" />
  <package id="Alternet.Studio.Common.Python" version="7.1.2" targetFramework="net472" />
  <package id="Alternet.Studio.Editor.Common" version="7.1.2" targetFramework="net472" />
  <package id="Alternet.Studio.Editor.WindowsForms" version="7.1.2" targetFramework="net472" />
  <package id="Alternet.Studio.Syntax" version="7.1.2" targetFramework="net472" />
  <package id="Alternet.Studio.Syntax.Parsers.Advanced.Python" version="7.1.2" targetFramework="net472" />
  <package id="CodeMirror" version="2.37" targetFramework="net472" />
</packages>